html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.block_menu {
    height: 800px;
    width: 100%;
    background-color: black;
    background-image: url(photos_and_gifs/background_about_2.jpg);
    background-size: cover;

}

/* menu start */
.open {
    display: flex !important;
  }
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    /* background-color: rgba(0, 4, 33, 1); */
    /* color: #faf6f2; */
    /* padding: 0 40px; */
    border: 1px solid white;
    padding-left: 100px;
    padding-right: 40px;
  }
  
  .menu .block {
    width: 100%;
    height: 60px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .logo {
    /* background-image: url();
    background-size: cover; */
    width: 320px;
    height: 50px;
    /* background-color: rgba(0, 4, 33, 1); */
    /* background-color: blue;   */
    display: flex;
    /* background-color: red; */
    align-items: center;
  }
  
  .nav {
    display: flex;
    width: 240px;
    padding: 0 10px;
    margin-right: 30px;

    display: flex;
    justify-content: right;
  }
  
  .nav .mini_menu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;

  }
  
  .nav .mini_menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    font-weight: lighter;
    /* background-color: blue; */
    display: block;
  }
  

  .nav .mini_menu a .link_menu_1 p {
    font-weight: light;
  }
  
  .nav .mini_menu a:hover {
    color: orange;
  }
  
  .burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
  }
  
  .burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: white;
  }
  
  .burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  
  .burger::before { top: 0 }
  
  .burger::after { bottom: 0 }
  
  .burger.active span { transform: scale(0) }
  
  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  
  @media (max-width: 900px) {
    .menu {
      padding-left: 50px;
      padding-right: 50px;
      /* background-color: green; */
    }

    .menu .block {
      /* background-color: red; */
      width: 100%;
    }

    .burger { display: flex; }
  
    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: rgb(121, 121, 121);
        animation: burgerAnimation 0.4s;
    }
  
    .nav .mini_menu {
        flex-direction: column;
        row-gap: 0px;
        /* background-color: blueviolet; */
        
    }
  
    @keyframes burgerAnimation {
        from {opacity: 0}
        to {opacity: 1}
    }
  
    .menu .block {
        width: 600px;
        width: 100%;
    }
  
    
  
    .logo {
        margin-right: 50px;
    }
  }
  
  @media (max-width: 710px) {
    .menu .block {
        width: 100%;
    }
  }
  
  @media (max-width: 610px) {
    .menu .block {
        width: 100%;
    }
  }
  
  @media (max-width: 510px) {
    .menu {
        padding: 0 0 0 0;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .menu .block {
        width: 100%;
    }
  
    .burger {
        margin-right: 10px;
    }

  }
  
  .logo .photo {
    height: 50px;
    width: 50px;
    /* background-color: aquamarine; */
    background-image: url(photos_and_gifs/logo_2.png);
    background-size: cover;
  }
  
  .logo .text {
    height: 50px;
    width: 270px;
    /* background-color: rgb(76, 11, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo .text p {
    color: white;
    font-size: 30px;
    line-height: 0px;
    display: block;
    font-weight: 600;
  }

  @media(max-width: 510px) {
    .logo {
      /* margin-left: 10px; */
      width: 320px;
      height: 50px;
      /* background-color: rgb(231, 23, 192); */
  }

  .block_menu {
    height: 60px;
  }
  }
  
  .logo .text .main_text {
    width: 185px;
    height: 45px;
    /* background-color: red; */
    font-family: 'garage';
    font-size: 28px;
    line-height: 40px;
  }
  
  .logo .text .main_text h2 {
    margin-left: 10px;
    color: white;
    font-weight: 400;
  }
  
  .logo .text .mini_text_1 {
    height: 18px;
    width: 185px;
    /* background-color: darkred; */
  }
  
  .logo .text .mini_text_2 {
    height: 18px;
    width: 185px;
    /* background-color: forestgreen; */
  }
  
  .logo .text .mini_text_3 {
    height: 18px;
    width: 185px;
    /* background-color: hotpink; */
  }
  
  .logo .text .textis p {
    margin-left: 15px;
    color: white;
  }
  
  @media (max-width: 500px) {

    .logo {
      /* margin-left: 10px; */
      width: 320px;
      height: 50px;
      /* background-color: rgb(231, 23, 192); */
  }
  
    .logo .photo {
      width: 50px;
      height: 50px;
    }
  
    .logo .text {
      height: 50px;
      width: 270px;
    }
  
    .logo .text .main_text {
      font-size: 20px;
    }
  
    .logo .text .textis {
      width: 170px;
    }
  
    .logo .text .textis p {
      font-size: 12px;
    }
  
    .menu .block {
      height: 100px;
    }

    /* может быть изменю прамаетры меня для ниже 500 */

    .menu {
      min-height: 20px;
      height: 60px;
    }
  
    .menu .block {
      height: 60px;
    }
  
    .logo {
      /* margin-left: 10px; */
      width: 220px;
      height: 50px;
      /* background-color: rgb(231, 23, 192); */
  }
  
    .logo .photo {
      width: 30px;
      height: 30px;
    }
  
    .logo .text {
      height: 30px;
      width: 190px;
      /* background-color: blue; */
    }
  
    .logo .text p {
      font-size: 22px;
    }
  }

@media(max-width: 410px) {
  .menu {
    min-height: 20px;
    height: 60px;
  }

  .menu .block {
    height: 60px;
  }

  .logo {
    /* margin-left: 10px; */
    width: 220px;
    height: 50px;
    /* background-color: rgb(231, 23, 192); */
}

  .logo .photo {
    width: 30px;
    height: 30px;
  }

  .logo .text {
    height: 30px;
    width: 190px;
    /* background-color: blue; */
  }

  .logo .text p {
    font-size: 22px;
  }
}
/* menu end */

.block_menu .father_text {
    /* background-color: rgb(255, 0, 38); */
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.block_menu .father_text p {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5)
}

.block_menu .main_text {
    /* background-color: blue; */
    width: 700px;
    margin-left: 100px;
    margin-left: auto;
    margin-right: auto;
}

.block_menu .main_text p {
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    /* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5) */
}

@media(max-width: 900px) {
    .block_menu .father_text p {
        font-size: 32px;
    }

    .block_menu .main_text {
        /* background-color: blue; */
        width: 600px;
        margin-left: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .block_menu .main_text p {
        color: white;
        font-size: 28px;
        text-align: center;
        line-height: 35px;
        /* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5) */
    }
}

@media(max-width: 600px) {
    .block_menu .father_text {
        margin-top: 90px;
    }

    .block_menu .father_text p {
        font-size: 28px;
    }

    .block_menu .main_text {
        /* background-color: blue; */
        width: 500px;
        margin-left: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .block_menu .main_text p {
        color: white;
        font-size: 25px;
        text-align: center;
        line-height: 35px;
        /* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5) */
    }
}

@media(max-width: 510px) {
    .block_menu {
        height: 800px;
    }

    .block_menu .father_text p {
        font-size: 28px;
    }

    .block_menu .main_text {
        /* background-color: blue; */
        width: 400px;
        margin-left: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .block_menu .main_text p {
        color: white;
        font-size: 22px;
        text-align: center;
        line-height: 35px;
        /* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5) */
    }
}

@media(max-width: 420px) {
    .block_menu .father_text {
        margin-top: 50px;
    }

    .block_menu .father_text p {
        font-size: 25px;
    }

    .block_menu .main_text {
        /* background-color: blue; */
        width: 350px;
        margin-left: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .block_menu .main_text p {
        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 35px;
        /* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5) */
    }
}

@media(max-width: 350px) {
    .block_menu .father_text p {
        font-size: 24px;
    }

    .block_menu .main_text {
        /* background-color: blue; */
        width: 300px;
        margin-left: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .block_menu .main_text p {
        color: white;
        font-size: 18px;
        text-align: center;
        line-height: 35px;
        /* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5) */
    }
}

.main_block_2 {
    width: 100%;
    height: 600px;
    /* background-color: rgb(120, 120, 241); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_block_2 .main_text {
    width: 500px;
    margin-bottom: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: left;
}

.main_block_2 .main_text p {
    font-size: 30px;
    color: rgb(78, 75, 235);
    line-height: 0px;
    display: block;
    font-weight: 600;
    display: block;
    margin: 0 0 0 0;
    /* background-color: red; */
}

.main_block_2 .block_1 {
    width: 45%;
    height: 90%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_block_2 .block_1 .text_1 {
    width: 500px;
    /* background-color: red; */
    margin-bottom: 30px;
}

.main_block_2 .block_1 .text_1 p {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 0 0 0 0;
}

.main_block_2 .block_1 .text_2 {
    width: 500px;
    /* background-color: red; */
    margin-bottom: 30px;
}

.main_block_2 .block_1 .text_2 p {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 0 0 0 0;
}

.main_block_2 .block_1 .text_3 {
    width: 500px;
    /* background-color: red; */
    margin-bottom: 30px;
}

.main_block_2 .block_1 .text_3 p {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 0 0 0 0;
}

.main_block_2 .block_1 .text_4 {
    width: 500px;
    /* background-color: red; */
}

.main_block_2 .block_1 .text_4 p {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 0 0 0 0;
}

@media(max-width: 1110px) {

    .main_block_2 {
        height: 620px;
    }

    .main_block_2 .main_text {
        width: 400px;
    }

    .main_block_2 .block_1 .text_1 {
        width: 400px;
    }

    .main_block_2 .block_1 .text_1 p {
        font-size: 0.9rem;
        color: rgb(0, 0, 0);
        margin: 0 0 0 0;
    }

    .main_block_2 .block_1 .text_2 {
        width: 400px;
    }

    .main_block_2 .block_1 .text_2 p {
        font-size: 0.9rem;
        color: rgb(0, 0, 0);
        margin: 0 0 0 0;
    }

    .main_block_2 .block_1 .text_3 {
        width: 400px;
    }

    .main_block_2 .block_1 .text_3 p {
        font-size: 0.9rem;
        color: rgb(0, 0, 0);
        margin: 0 0 0 0;
    }

    .main_block_2 .block_1 .text_4 {
        width: 400px;
    }

    .main_block_2 .block_1 .text_4 p {
        font-size: 0.9rem;
        color: rgb(0, 0, 0);
        margin: 0 0 0 0;
    }
}



/*  */

.main_block_2 .block_2 {
    width: 45%;
    height: 90%;
    /* background-color: rgb(254, 100, 206); */
    background-image: url(photos_and_gifs/farmer.jpg);
    background-size: cover;
}

@media(max-width: 900px) {
    .main_block_2 {
        height: 1050px;
        flex-direction: column;
    }

    .main_block_2 .block_1 {
        height: 600px;
        width: 400px;
    }

    .main_block_2 .block_2 {
        width: 100%;
        height: 400px;
    }
}

@media(max-width: 600px) {
    .main_block_2 {
        height: 1000px;
    }

    .main_block_2 .block_1 {
        margin-top: 40px;
    }

    .main_block_2 .block_2 {
        width: 100%;
        height: 300px;
    }
}

@media(max-width: 500px) {
    .main_block_2 {
        height: 1050px;
    }

    .main_block_2 .block_1 {
        height: 600px;
    }

    .main_block_2 .block_1 .main_text {
        width: 350px;
    }

    .main_block_2 .block_1 .main_text p {
        font-size: 28px;
    }

    .main_block_2 .block_1 .text_1 {
        width: 350px;
    }

    .main_block_2 .block_1 .text_2 {
        width: 350px;
    }

    .main_block_2 .block_1 .text_3 {
        width: 350px;
    }

    .main_block_2 .block_1 .text_4 {
        width: 350px;
    }
}

@media(max-width: 400px) {
    .main_block_2 {
        height: 1100px;
    }

    .main_block_2 .block_1 {
        width: 350px;
        height: 650px;
    }

    .main_block_2 .block_1 .main_text {
        width: 300px;
    }

    .main_block_2 .block_1 .main_text p {
        font-size: 26px;
    }

    .main_block_2 .block_1 .text_1 {
        width: 300px;
    }

    .main_block_2 .block_1 .text_2 {
        width: 300px;
    }

    .main_block_2 .block_1 .text_3 {
        width: 300px;
    }

    .main_block_2 .block_1 .text_4 {
        width: 300px;
    }

    .main_block_2 .block_1 .text_1 p {
        font-size: 0.85rem;
    }

    .main_block_2 .block_1 .text_2 p {
        font-size: 0.85rem;
    }

    .main_block_2 .block_1 .text_3 p {
        font-size: 0.85rem;
    }

    .main_block_2 .block_1 .text_4 p {
        font-size: 0.85rem;
    }
}

@media(max-width: 350px) {
    .main_block_2 .block_1 {
        width: 300px;
    }
}

.block_contact {
  width: 100%;
  height: 300px;
  /* background-color: red; */

  border-top: 1px solid black;
}

.block_contact .text {
  width: 500px;
  /* background-color: blue; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.block_contact .text p {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.block_contact a {
  font-size: 25px;
  font-weight: 600;
  color: rgb(94, 94, 94);
  text-align: center;
}

.block_contact a:hover {
  color: rgb(78, 75, 235);
}

.block_contact a .link {
  width: 250px;
  /* background-color: yellow; */
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 500px) {
  .block_contact .text {
    width: 400px;
  }

  .block_contact .text p {
    font-size: 24px;
  }

  .block_contact a {
    font-size: 20px;
  }
}

@media(max-width: 400px) {
  .block_contact {
    height: 250px;
  }

  .block_contact .text {
    width: 300px;
  }

  .block_contact .text p {
    font-size: 20px;
  }

  .block_contact a {
    font-size: 18px;
  }
}

/* footer start */

.footer {
  height: 150px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 900px) {
  .footer .logo {
    margin: 0 0 0 0;
  }
}